<main class="post-layout">
  <div class="post-frame">
    <p class="post-title">
      <a href="LINK-GOES-HERE" class="post-location"> Need help! (title)</a>
    </p>
    <p class="post-demo">
      {{postText}}
    </p>
    <p class="post-author">
      {{author}}
    </p>
  </div>
</main>
