<div class="response-frame" id={{responseID}}>
  <p class="response-author">
    {{responseAuthor}}
  </p>
  <p class="response-text">
    {{responseText}}
  </p>
  <button type="button" class="del-reply-b" id={{responseID}}>Delete</button>
</div>
