<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Index</title>
		<script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.3.0/handlebars.min.js"></script>
		<link rel="stylesheet" href="/style.css" media="screen">
	</head>

		<header>
			<h1 class="page-title">
				Hello welcome to our message board!
			</h1>

		  <button class="create-post-b"> + </button>
		</header>

    {{{body}}}

	<div class="post-box">

	</div>
</html>
