<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Index</title>
	</head>

	<body>
		<header class="main-heading">
			<h1 class="page-title">
				Hello welcome to our message board!
			</h1>

			<button class="create-post-b"> + </button>
		</header>

    {{{body}}}

	<body>
</html>
