<main class="post-layout">

	<div class="post-container">
		{{#each posts}}
			{{> postTemplate}}
		{{/each}}
	</div>

</main>

<button type="button" class="create-post-b"> Add Post </button>

<div id="post-modal-backdrop" class="hidden"></div>
	<div id="post-modal" class="hidden">
		<div class="post-modal-dialog">

			<div class="post-modal-header">
				<h3>Add a Post</h3>
				<button type="button" id="post-modal-x"class ="post-modal-hide">&times;</button>
			</div>


			<div class="post-modal-body">

				<div class="post-input-element">
					<label for="post-title-input">Post Title</label>
					<input type="text" id="post-title-input">
				</div>

				<div class="post-input-element">
					<label for="post-auth-input">Username</label>
					<input type="text" id="post-auth-input">
				</div>

				<div class="post-input-element">
					<label for="post-text-input">Content</label>
					<input type="text" id="post-text-input">
				</div>
			</div>

				<div class = "post-modal-footer">
					<button type ="button" id="post-modal-cancel" class ="post-modal-hide action-button">Cancel</button>
					<button type="button" id="post-modal-accept" class="action-button">Add Post</button>
				</div>

		</div>
	</div>
