<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{postTitle}}</title>
	</head>

	<body>
		<header class="post-heading">
			<h1 class="page-post">
				{{postTitle}}
			</h1>
			<h4 class="page-author">
				{{postAuthor}}
			</h4>
			<h2 class="page-post">
				{{postText}}
			</h2>
		</header>

		<main class="post-responses">
      {{#each responses}}
        {{> postResponse}}
      {{/each}}
		</main>
	</body>
</html>
