header {
	display: block
	height: 80px;
	padding: 10px;
	border: none;
	margin-left: 0px;
	text-align: center;
	color: white;
	background-color: #544643;
	}

.page-title {
	font-weight: 400;
}

.create-post-b {
	display: block;
	height: 40px;
	width: 100px;
	border: 2px solid #dff4bc;
	color: #dff4bc;
	font-size: 20px;
	font-weight: bold;
	background-color: #544643;
	position: fixed;
	bottom: 15px;
	left: 15px;
	border-radius: 5px;
}

.create-post-b:hover {
	color: #544643;
	background-color: #dff4bc;
	border: 2px solid #544643;
	cursor: pointer;
}

body {
	margin: 0px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	background: url("http://images.all-free-download.com/images/graphicthumb/dog_foot_prints_background_repeating_design_6828604.jpg") repeat;
	}

.post-frame {
	display: block;
	background-color: white;
	border: 1px solid grey;
	margin: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.post-title a{
	font-weight: 700;
	font-size: 20px;
	text-decoration: none;
	color: black;
}

.post-title a:hover{
	color: #544643;
	cursor: pointer;
}

.post-author {
	font-weight: 300;
	font-size: 12px;
	font-color: black;
}

.hidden{
	display: none;
}
